@import url("../lib/root.css");
@import url("../lib/text.css");
@import url("../lib/button.css");

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.MainLanding {
    width : 95vw;
    margin-left : 2.5vw;
    margin-right : 2.5vw;
    margin-top : 3vh;
}

.Introduction {
    width : 96.5vw;
    height : 50vh;
    background-image: url(../lib/pics/Introduction.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.Introtextarea {
    text-align: start;
}

.Introtextarea .introdescript {
    margin-top : 10px;
    font-family : "ssangmun";
    font-size : 3vh;
    color : white;
}

.makeshortsbutton {
    width : 20vw;
    height : 5vh;
    border-radius: 5rem;
    margin-top : 3vh;
    transform : translate(0, 5vh);
    display : flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.makeshortsbutton:hover {
    background-color: #40b884;
}

.makeshortsbutton:hover .makeshortsbuttontext {
    animation: blink 0.3s 3;
}

.makeshortsbuttontext {
    font-family : "ssangmun";
    font-size : 3vh;
}

.myshorts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top : 3vh;
}

.myshortstextarea {
    font-family : "ssangmun";
    font-size : 3vh;
    color : white;
}

.myshortsarea {
    overflow-x: hidden;
    display : flex;
    flex-direction: row;
}

.myshortscontent {
    margin-top : 3vh;
    margin-right : 3vh;
}