@import url("../lib/root.css");
@import url("../lib/text.css");
@import url("../lib/button.css");

.makeshortsfullpage {
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backofrecord {
    height : 80vh;
    width : 80vh;
    background-color: black;
    border : 3px solid black;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.recordimage {
    height : 70vh;
    width : 70vh;
    background-image: url("../lib/pics/record.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.makeshortscontentpage {
    height : 90vh;
    width : 100vw;
    opacity: 0;
}