@import url("../lib/root.css");
@import url("../lib/text.css");
@import url("../lib/button.css");
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


.themeitemsfullpage {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
}

.themeitemsfullpage .text400 {
    margin-top : 3vh;
}

.themeitems {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 갖도록 설정 */
    gap: 5vh;
    margin-top : 20vh;
}

.themeitembox {
    background-color: white;
    border-radius: 5rem;
    width : 20vw;
    height : 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right : 2vw;
}

.themeitemtext {
    font-family: "ssangmun";
    font-size : 3vw;
}

.themeitembox:hover {
    background-color: var(--green200);
}

.themeitembox:hover .themeitemtext{
    animation: blink 0.3s 3;
}

.categoryplaylist {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
}

.categoryplaylist .text400 {
    margin-top : 3vh;
}

.categoryitems {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 갖도록 설정 */
    gap: 5vh;
    margin-top : 10vh;
}

.inputcategory {
    display : flex;
    flex-direction: row;
    width : 67vw;
    justify-content: space-between;
    margin-top : 8vh;
}

.inputcategory input {
    outline: none;
    background-color: transparent;
    color : white;
    font-size: 3vw;
    border: none;
    font-family: "ssangmun";
    border-bottom: 3px solid white;
}

.categorysubmit {
    width : 15vw;
    height: 10vh;
    background-color: white;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorysubmittext {
    font-family: "ssangmun";
    font-size : 2vw;
}

.categorysubmit:hover {
    background-color: var(--green200);
}

.categorysubmit:hover .categorysubmittext {
    animation: blink 0.3s 3;
}

.goback {
    color : white;
    font-size: 1.5vw;
    font-family : "ssangmun";
    margin-top : 3vh;
}